@import "~antd/lib/style/themes/default.less";
@import "~antd/dist/antd.less";
@import "../styles.less";

.ant-layout-sider {
  background: #fff;
}

body {
  background-image: url("../../assets/images/light-bg.png");
}

.ant-layout-screen {
  background: rgba(255, 255, 255, 0.4);
}

.ant-layout-header {
  background: #fff;
}

.ant-collapse {
  background: white;
}
