@white100: #f2f2f2;
@grey100: #111111;
@grey200: #222222;

@primary-color: darken(#ccccff, 20%);
@layout-header-background: @grey100;

.ant-layout-header {
  border-bottom: 1px solid @primary-color;
  animation: glowing-bottom 3s infinite;
}

.ant-layout-sider {
  .ant-layout-sider-children {
    border-right: 1px solid @primary-color;
    animation: glowing-right 3s infinite;
  }
}

.ant-menu-item {
  padding-left: 24px !important;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

[role="tab"],
.ant-form-item-no-colon {
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes glowing-all {
  0% {
    border: 1px solid fade(@primary-color, 35%);
  }
  50% {
    border: 1px solid fade(@primary-color, 15%);
  }
  100% {
    border: 1px solid fade(@primary-color, 35%);
  }
}

@keyframes glowing-top {
  0% {
    border-top: 1px solid fade(@primary-color, 35%);
  }
  50% {
    border-top: 1px solid fade(@primary-color, 15%);
  }
  100% {
    border-top: 1px solid fade(@primary-color, 35%);
  }
}

@keyframes glowing-right {
  0% {
    border-right: 1px solid fade(@primary-color, 35%);
  }
  50% {
    border-right: 1px solid fade(@primary-color, 15%);
  }
  100% {
    border-right: 1px solid fade(@primary-color, 35%);
  }
}

@keyframes glowing-bottom {
  0% {
    border-bottom: 1px solid fade(@primary-color, 35%);
  }
  50% {
    border-bottom: 1px solid fade(@primary-color, 15%);
  }
  100% {
    border-bottom: 1px solid fade(@primary-color, 35%);
  }
}

@keyframes glowing-left {
  0% {
    border-left: 1px solid fade(@primary-color, 35%);
  }
  50% {
    border-left: 1px solid fade(@primary-color, 15%);
  }
  100% {
    border-left: 1px solid fade(@primary-color, 35%);
  }
}

.ant-collapse {
  border: 1px solid fade(@primary-color, 25%);
  animation: glowing-all 4s ease-in-out infinite;
}

.ant-collapse-header {
  border-bottom: 1px solid fade(@primary-color, 25%);
  animation: glowing-bottom 4s ease-in-out infinite;
}

.screen-header-divider {
  border: 1px solid fade(@primary-color, 25%);
  animation: glowing-all 4s ease-in-out infinite;
}

.social-link {
  font-size: 16px !important;
}

.app-menu {
  border-top: 1px solid @primary-color;
  animation: glowing-top 4s ease-in-out infinite;
}

.ant-progress-inner:not(.ant-progress-circle-gradient)
  .ant-progress-circle-path {
  stroke: #b3b3e6;
}

.ant-switch-inner {
  color: darken(#b3b3e6, 50%);
}

.ant-notification-notice-message {
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
  font-size: 14px !important;
}

.requirement-drawer {
  .ant-drawer-content-wrapper {
    animation: glowing-top 4s ease-in-out infinite,
      glowing-left 4s ease-in-out infinite;

    :hover {
      cursor: pointer;
    }
  }
}
