@import "~antd/dist/antd.dark.less";
@import "~antd/dist/antd.compact.less";
@import "~antd/dist/antd.less";

// Theming
@primary-color: darken(rgb(73, 255, 255), 30%);
@success-color: #0ed155;

// // -- Fonts
@font-face {
  font-family: "Main";
  src: url("./fonts/Futura.ttc");
}

.with-background {
  background: url(./images/background.png) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fake-flex-gap {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -40px 0 0 -40px;
  width: calc(100% + 40px);
  justify-content: space-evenly;
}

.fake-flex-gap > * {
  margin: 40px 0 0 40px;
}

// // Ant Overrides

.ant-page-header-heading-title {
  line-height: 1 !important;
}

.ant-page-header-back-button {
  font-size: 28px !important;
}

.ant-back-top {
  z-index: 100 !important;
}

.bordered,
.ant-card-bordered {
  border-radius: 12px;
}

.ant-menu-submenu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px !important;
  padding-left: 16px !important;
}
