/* @font-face {
  font-family: "San Francisco";
  src: url("./Futura.ttc") format("ttc");
  font-weight: 200;
}

@font-face {
  font-family: "San Francisco Bold";
  src: url("./Futura.ttc") format("ttc");
} */
