@font-face {
  font-family: "San Francisco";
  src: url("./fonts/Text.ttf") format("ttf");
  font-weight: 200;
}

@font-face {
  font-family: "San Francisco Bold";
  src: url("./fonts/Text.ttf") format("ttf");
}
