@import "~antd/lib/style/themes/default.less";

@white100: #f2f2f2;
@grey100: #111111;
@grey200: #222222;

@primary-color: darken(#ccccff, 20%);
@secondary-color: darken(#d664be, 20%);
@text-color: @white100;
@text-color-secondary: @white100;
@body-background: @grey200;
@component-background: @grey200;
@layout-body-background: @grey200;
@layout-header-background: @grey100;
@menu-dark-inline-submenu-bg: @grey200;
@collapse-header-bg: @grey100;
@collapse-content-bg: @grey100;
@heading-color: @white100;
@border-color-base: @primary-color;
@border-color-split: @primary-color;
@menu-dark-selected-item-text-color: @white100;
@breadcrumb-base-color: @white100;
@breadcrumb-last-item-color: lighten(@primary-color, 10%);
@breadcrumb-separator-color: @white100;

// .ant-layout-header {
//   border-bottom: 1px solid @primary-color;
// }
// .ant-layout-sider {
//   .ant-layout-sider-children {
//     border-right: 1px solid @primary-color;
//   }
// }

.ant-menu-item {
  padding-left: 24px !important;
}

// .ant-layout-header {
//   border-bottom: 1px solid @primary-color;
//   animation: glowing-bottom 3s infinite;
// }

// .ant-layout-sider {
//   .ant-layout-sider-children {
//     border-right: 1px solid @primary-color;
//     animation: glowing-right 3s infinite;
//   }
// }

.ant-menu-item {
  padding-left: 24px !important;
}

[role="tab"],
.ant-form-item-no-colon {
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes glowing-all {
  0% {
    border: 1px solid fade(@primary-color, 35%);
  }
  50% {
    border: 1px solid fade(@primary-color, 15%);
  }
  100% {
    border: 1px solid fade(@primary-color, 35%);
  }
}

@keyframes glowing-right {
  0% {
    border-right: 1px solid fade(@primary-color, 35%);
  }
  50% {
    border-right: 1px solid fade(@primary-color, 15%);
  }
  100% {
    border-right: 1px solid fade(@primary-color, 35%);
  }
}

@keyframes glowing-bottom {
  0% {
    border-bottom: 1px solid fade(@primary-color, 35%);
  }
  50% {
    border-bottom: 1px solid fade(@primary-color, 15%);
  }
  100% {
    border-bottom: 1px solid fade(@primary-color, 35%);
  }
}

// .ant-collapse {
//   border: 1px solid fade(@primary-color, 25%);
//   animation: glowing-all 8s ease-in-out infinite;
// }

// .ant-collapse-header {
//   border-bottom: 1px solid fade(@primary-color, 25%);
//   animation: glowing-bottom 8s ease-in-out infinite;
// }

// .screen-header-divider {
//   border: 1px solid fade(@primary-color, 25%);
//   animation: glowing-all 8s ease-in-out infinite;
// }
