@import "~antd/lib/style/themes/dark.less";

@first: #89dce3;
@second: #fa79e0;
@third: #c879e2;
@fourth: #fc79e1;

// Ant
@primary-color: @second;
@secondary-color: @first;
@text-color: #fafafa;
@processing-color: @second;
@success-color: #10be8a;
@danger-color: #f7051b;
@error-color: #f7051b;
@warning-color: #ecc321;
